<img class="error-500" src="{{ image_path }}/500.jpg" alt="{{ page.title }}" />
<p><strong>К сожалению, произошла ошибка на сервере. Воспользуйтесь подсказкой:</strong></p>
<ul class="leftfloat">
    <li>Обновите страницу</li>
    <li>Попробуйте зайти позже</li>
</ul>
<p>
    Если вы столкнулись с ошибкой или недоразумением, пожалуйста напишите нам по адресу <a href="mailto:support@parcels.su">support@parcels.ru</a>
</p>