<p>
    Доверьте Ваш груз профессионалам, которые будут стремиться найти для Вас оптимальный маршрут с максимальной оптимизацией Ваших затрат.
</p>
<p>
    Мы осуществляем быструю и эффективную доставку и <a href="/customs">растаможку коммерческих посылок</a> с любым легальным товаром. Это могут быть как партии образцов, так и коммерческие партии.
</p>
<p>
    У нас есть специальные предложения по доставке одежды, электроники, обуви запчастей для оборудования, электронных компонентов, других ТНП.
</p>
<img src="{{ image_path }}/commercial-parcels.jpg" alt="{{ page.title }}" />
<p>
    Наша специализация – это доставка коммерческих посылок, почтовых отправлений, которые таможенными органами признаются <strong>коммерческими партиями</strong> независимо от их истинного назначения.
</p>
<p>
    Это и мелкооптовые закупки у иностранных поставщиков, и закупки в иностранных Интернет-магазинах или обычных магазинах. Благодаря отработанным логистическим решениям, доставка и таможенное оформление таких отправлений происходит быстро и экономично.
</p> 
<p>
    Поручите решение этих вопросов логистам, которые специализируются именно на этом!
</p>
<p>
    Стоимость доставки и оформления понизятся! Мы стремимся предлагать <strong>минимальные тарифы</strong> на доставку грузов и посылок.<br />
    Сроки доставки Вы определите сами! А мы работаем со всеми видами транспорта и поможем Вам выбрать оптимальное сочетание цены и сроков.
</p>