<p>
    Вы можете связаться с нами по e-mail: <a href="mailto:{{ email }}">{{ email }}</a>
</p>
<p>
    Или заполните форму и мы рассчитаем стоимость доставки <strong>в кратчайшие сроки</strong>:
</p>
{% include 'form_main.html.twig' %}