<p>
    Мы осуществляем доставку бизнес-посылок без ограничений ни по минимальному, ни по максимальному объему груза. Мы осуществляем международную доставку сборных (LCL) грузов всеми видами транспорта, <em>консолидацию грузов</em> на складах в Китае и Финляндии, их таможенное оформление и доставку по России. Таким образом мы доставляем как карго 1 кг, так и <strong>полные контейнеры</strong> (FCL).
</p>
<img src="{{ image_path }}/container.jpg" alt="Доставка коммерческих посылок" />

<h3>Международные контейнерные грузоперевозки (FCL)</h3>
<p>
    Перевозка грузов с помощью контейнеров – один из самых распространенных способов доставки. Вы можете заказать у нас перевозку любого количества контейнеров любого типа и объема. Размеры контейнеров:
    <ul>
        <li>20 футов</li>
        <li>40 футов</li>
    </ul>
    Типы контейнеров:
    <ul>
        <li>Стандартный</li>
        <li>Рефрижиратор</li>
        <li>Изолированный</li>
        <li>Flatrack</li>
        <li>С открытым верхом</li>
        <li>Контейнер-платформа</li>
    </ul>
</p>

<h3><a name="consolidation">Консолидация грузов</a></h3>
<p>
    В случае, если у Вас отправляется несколько небольших грузов, мы можем предложить Вам услугу по их консолидации. Консолидация - это объединение грузов в один для минимизации логистических и таможенных издержек. Мы осуществляем консолидацию сборных грузов на нашем складе в Китае в городе Shenzhen и дальнейшую отправку <strong>в полном контейнере</strong> (уже целиком Вашем) или в виде укрупненного сборного груза.
</p>
<p>
    Доставка сборных грузов из Китая и доставка сборных грузов из Европы осуществляются с консолидацией в порту Гамбурга или на складе Финляндии – для каждого груза мы стремимся предложить оптимальную схему доставки.
</p>
<p>
    Перевозка сборного груза морским транспортом <a href="{{ locale.uri }}/geography">из Азии</a> занимает около 60 дней. Доставка <strong>сборного груза</strong> из Германии или другой Европейской страны – около 2 недель.
</p>
<p>
    Доставка карго авиатранспортом из Азии занимает также около 2 недель.
</p>
<p>
    Мы располагаем разветвленной сетью партнеров и предлагаем выгодные тарифы на доставку контейнерных грузов из любого порта Мира.
</p>