<p>
    Любая коммерческая партия товара должна пройти таможенное оформление. Будь то одежда, электронные компоненты или запчасти для оборудования. В случае консолидации грузов возможно не только снижение накладных расходов (транспортных и документальных), но и <strong>оптимизация таможенных платежей</strong>. Именно поэтому Служба Доставки Коммерческих Посылок является для Вас оптимальным выбором: международная доставка и таможенное оформление посылок – это наша специализация!
</p>
<img src="{{ image_path }}/customs.jpg" alt="{{ page.title }}" />
<p>
    Растаможка посылок (растаможка товара), как еще называют <strong>таможенную очистку</strong>, ничем не отличается от процесса таможенного оформления любой коммерческой партии. Поэтому стоимость таможенного оформления посылок не отличается от издержек на большой груз. Независимо от того, образы это, коммерческая партия или покупка из Интернет-магазина. Что и делает таможенное оформление коммерческих посылок неоправданно дорогим. Обращаясь к специалистам в данной области, Вы снижаете свои издержки и повышаете эффективность своего бизнеса!
</p>

<p>
    Мы предлагаем доставку и таможенное оформление образцов, отправленных в адрес Вашей компании через наших партнеров. При этом от вас потребуются только <strong>товаро-сопроводительные документы</strong> (инвойс и упаковочный лист). Все остальные формальности мы выполним сами. Вам останется только получить свою посылку! Мы предлагаем таможенное оформление «под ключ»!
</p>

<p>
    <strong>Таможенное оформление</strong> Ваших посылок будет произведено с соблюдением всех требований законодательства РФ и приграничных государств – будут закрыты Европейские экспортные декларации, а при необходимости – и оформлены.
</p>

<p>
    Мы оказываем таможенные услуги в Санкт-Петербурге клиентам из любой точки России. Мы осуществляем таможенное оформление почтовых отправлений из Китая, растаможку коммерческих посылок из Европы, таможенную очистку малогабаритных грузов из США и любой другой точки Мира.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и узнайте стоимость наших услуг для Ваших отправлений!
</p>