<p>
    Служба Доставки Коммерческих Посылок специализируется на <strong>доставке международных посылок</strong>, требующих таможенного оформления, без ограничения по размеру груза (от 1 шт, от 1 кг… от 1 контейнера).
</p>
<p>
    Вне зависимости от того, являетесь ли Вы физическим или юридическим лицом, или группой лиц, объединившихся для <strong>совместной закупки</strong>, в случае, если Ваше почтовое отправление признают коммерческой партией, Вам придется осуществить таможенное оформление груза по общей схеме с оплатой всех платежей и предоставлением всех документов. А если Вы – физическое лицо, не являющееся Индивидуальным Предпринимателем, то Вам предложат объяснить также, зачем частному лицу <strong>коммерческий груз</strong>.
</p>
<p>
    Мы предлагаем быструю доставку коммерческих посылок «под ключ» с решением всех сопутствующих вопросов организации закупки, таможенного оформления и оптимизации платежей и прочих затрат.
</p>

<h3>Вам нужно:</h3>
<ul class="ticks">
    <li>
        Приобрести <strong>партию товара</strong>, но не хотите открывать в банке паспорт сделки, регистрировать контракт, регистрироваться в качестве участника ВЭД и т.д. и т.п.?
    </li> 
    <li>
        Доставить небольшую партию <strong>товара на пробу</strong> или получить образцы, но их доставка и оформление стоят слишком дорого?
    </li>
    <li>
        Отправить груз на экспорт, вернуть брак или <strong>отправить образцы</strong> поставщику, но Вы не хотите оформлять эту процедуру от своего лица?
    </li>
    <li>
        Отправить или получить несколько <strong>бизнес-посылок</strong> разом?
    </li>
</ul>
<img src="{{ image_path }}/delivery.jpg" alt="{{ page.title }}" />
<h3>Как получить международную посылку?</h3>
<ol>
    <li>
        Попросите поставщика упаковать груз так, чтобы он не был поврежден в процессе перевозки;
    </li>
    <li>
        Сообщите поставщику полученный от нас адрес, куда он должен <strong>отправить груз</strong>;
    </li>
    <li>
        Сообщите нам об отправке груза (желательно сообщить номер накладной);
    </li>
    <li>
        Получите груз в руки или на складе транспортной компании.
    </li>
</ol>
Это все!
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас, чтобы получить бесплатную консультацию.
</p>

<h3>Как доставить международную посылку?</h3>
<ol>
    <li>
        Упакуйте груз так, чтобы он не был поврежден в процессе перевозки;
    </li>
    <li>
        Передайте груз нам или отправьте его на наш адрес в России;
    </li>
    <li>
        Сообщите нам адрес, телефон и контактное лицо получателя;
    </li>
</ol>