<p>
    Мы предлагаем качественный сервис по <strong>рассылке посылок по России</strong> или любой стране мира. Мы можем оперативно принимать на склад, обрабатывать, оформлять документы и рассылать груз на любые адреса.
</p>
<h4>Вам нужно?</h4>
<ul>
    <li>
        Отправить сразу <strong>несколько посылок на экспорт</strong> Вашим иностранным партнерам?</li>
    <li>
        Сделать из одной доставленной в Россию посылки несколько и быстро разослать их получателям?</li>
    <li>
        Сменить документы, переупаковать посылку, замаскировать отправителя?
    </li>
</ul>
<img src="{{ image_path }}/distribution.jpg" alt="{{ page.title }}" />

<h4>Мы это можем!</h4>
<p>
    Воспользуйтесь услугой по международной рассылке посылок или рассылке посылок по городам России!
</p>
<p>
    В точном соответствии с Вашими инструкциями посылки будут разделены, <strong>снабжены правильными документами</strong> и отправлены получателям в России или за Рубежом международной курьерской службой (FedEx – Federal Express, DHL, TNT, UPS) или внутрироссийской транспортной компанией за счет отправителя или получателя.
</p>
<p>
    Вам нужно будет лишь передать нам или доставить на наш склад исходную посылку и предоставить подробные инструкции. Мы произведем рассылку товара и предоставим Вам номера накладных для его дальнейшего отслеживания.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и закажите необходимые Вам услуги!
</p>