<p>
    Служба Доставки Коммерческих Посылок предлагает партнерство организациям, предпринимателям, коллективам и отдельным ремесленникам по международной отправке посылок с Вашей продукцией иностранным покупателям.
<p>
    Эта услуга также будет интересна тем, кому необходимо вернуть брак, <strong>отправить на экспорт</strong> образцы или полуфабрикаты на переработку.
</p>
<p>
    <strong>Отправка коммерческой посылки</strong> из России с нашей помощью становится такой же простой, как и доставка по России. Вам достаточно отправить или передать груз нам, а все формальности по оформлению экспорта товара мы берем на себя.
</p>
<img src="{{ image_path }}/export.jpg" alt="{{ page.title }}" />
<p>
    Доставка посылки осуществляется <strong>курьерской службой</strong> (FedEx – Federal Express, DHL, TNT, UPS), почтой или другим видом транспорта <a href="{{ locale.uri }}/payment#receiver">за счет получателя</a> или отправителя в соответствии с Вашими инструкциями.
</p>
<p>
    Таможенная услуга по экспорту в США, Китай, Италию, Турцию, Германию, Великобританию (Англию) – да в любую страну Европы, Азии и остального мира – это реальная помощь отечественным производителям по <strong>выходу на международный рынок</strong> товаров. Для нас не бывает слишком мелких грузов для отправки товара за границу. Поэтому стоимость наших услуг по оформлению экспорта карго для Вашей посылки может составить всего несколько тысяч рублей. И Вам не придется самим общаться ни с таможенными, ни с налоговыми органами.
</p>
<p>
    Мы также предлагаем помощь в <strong>получении оплаты от покупателей</strong>. Подробнее с этой услугой Вы можете ознакомиться здесь.
</p>
<p>
    При отправке одновременно нескольких посылок мы можем предложить услугу по рассылке посылок за границу по разным странам. Подробнее с этой услугой Вы можете ознакомиться в разделе <a href="/distribution">Рассылка посылок по адресам</a>.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и закажите удобную Вам доставку!
</p>