<p>
    Следуя общемировой тенденции, наша Служба Доставки Коммерческих посылок сконцентрировала свои усилия на обслуживании Российско-Китайского бизнеса в деле <strong>доставка товаров из Китая</strong>. Мы предлагаем полный комплекс услуг по грузоперевозкам товаров из Китая. 
</p>
<p>
    Китайская Народная Республика является крупнейшим мировым центром производства. И вторым после США экспортером России. Растущее качество товаров и низкие цены привлекают большое количество компаний к сотрудничеству с производителями из КНР.
</p>
<p>
    Мы предлагаем:
</p>
<ul class="ticks">
    <li>
        Доставка коммерческих посылок из Китая в Россию и обратно (<strong>доставка образцов из Китая</strong>, доставка образцов в Китай, поможем вернуть брак поставщику в Китай);
    </li>
    <li>
        Доставка покупок из Китая в случаях, когда их сложно получить на свое имя;</li>
    <li>
        <strong>Оплата китайским поставщикам</strong> от лица наших китайских партнеров. Подробнее Вы можете узнать об этой услуге здесь или связавшись с нами;
    </li>
    <li>
        Доставка <strong>сборных грузов (карго) из Китая</strong> в Россию. Речь идет о доставке мелких/небольших грузов от 1 шт, от 1 кг из Китая авиационным или морским транспортом в сборных контейнерах
    </li>
    <li>
        Доставка по территории Китая <strong>местными курьерскими службами</strong> и автомобильным транспортом;
    </li>
    <li>
        Инспекция товара на фабрике до отгрузки;
    </li>
    <li>
        <strong>Таможенное оформление</strong> (растаможку) товаров из Китая;
    </li>
    <li>
        <strong>Консолидация грузов</strong> на своем складе для их дальнейшей доставки любым видом транспорта.
    </li>
</ul>
<img src="{{ image_path }}/china.jpg" alt="{{ page.title }}" />

<h3>Сборный груз из Китая</h3>
<p>
    О консолидации товара на складе хотелось бы рассказать поподробнее! Если у Вас есть несколько грузов, отправляемых примерно в одно время, то Вам будет выгоднее объединить их в один, независимо от используемого вида транспорта:
</p>
<ul>
    <li>
        Чем больше груз, тем ниже тариф на доставку за кг или куб.м.
    </li>
    <li>
        Вам не придется платить документальные сборы и брокерские вознаграждения за каждый из грузов – эти суммы обычно не зависят (совсем или почти) от размеров груза.
    </li>
    <li>
        Консолидация осуществляется на складе в городе Shenzhen (провинция Guangdong)  на юге Китая или в Hong Kong-е.
    </li>
</ul>
<p>
    Если Вам требуется доставка промышленных или народных товаров, <strong>доставка одежды из Китая</strong>, доставка обуви из Китая, доставка любого другого вида товаров, независимо от объема партии (от 1 шт!) <a href="{{ locale.uri }}/contacts">свяжитесь с нами</a> прямо сейчас и узнайте, что мы можем Вам предложить по доставке и необходимым Вам сопутствующих услугах!
<p>