<p>
    <strong>Импорт посылок в Россию</strong> не может закончиться на пересечении границы и прохождении таможенного оформления. Неизбежно возникает вопрос о дальнейшей доставке груза по России.
</p>
<p>
    Служба Доставки Коммерческих Посылок предлагает не только импорт товаров в Россию, но и <strong>доставку грузов по России</strong> всеми видами транспорта до двери Вашего дома или до склада транспортной компании.
</p>
<img src="{{ image_path }}/import.jpg" alt="{{ page.title }}" />
<p>
    Например, возможна <strong>отправка товара из Китая</strong> и его доставка в Москву, отправка товара из США и доставка в Санкт-Петербург. Мы можем предложить доставку из Германии в Россию и далее, к примеру, в Екатеринбург или доставку из Турции в Россию и дальнейшую транспортировку автотранспортом или самолетом в Новосибирск. И так далее.
</p>

<h3>Доставка в любую точку России</h3>
<p>
    Наиболее популярные, но не исключительные, направления доставки по России:
</p>
<div class="width-100">
    <ul class="left">
        <li>Москва</li>
        <li>Санкт-Петербург</li>
        <li>Новосибирск</li>
        <li>Нижний Новгород</li>
        <li>Екатеринбург</li>
        <li>Самара</li>
        <li>Омск</li>
        <li>Казань</li>
        <li>Челябинск</li>
        <li>Ростов-на-Дону</li>
        <li>Уфа</li>
        <li>Волгоград</li>
        <li>Пермь</li>
        <li>Красноярск</li>
        <li>Воронеж</li>
        <li>Саратов</li>                
        <li>Краснодар</li>
        <li>Тольятти</li>
    </ul>
    <ul class="left">
        <li>Ижевск</li>
        <li>Ульяновск</li>
        <li>Барнаул</li>
        <li>Ярославль</li>
        <li>Иркутск</li>
        <li>Тюмень</li>
        <li>Махачкала</li>
        <li>Новокузнецк</li>
        <li>Оренбург</li>
        <li>Кемерово</li>
        <li>Рязань</li>
        <li>Томск</li>
        <li>Астрахань</li>
        <li>Пенза</li>
        <li>Набережные Челны</li>
        <li>Липецк</li>
        <li>Тула</li>
    </ul>
</div>
<p>
    Доставка осуществляется силами наших курьеров, курьерских служб, авиатранспортом, автомобильным транспортом и железнодорожным транспортом <strong>по тарифу внутрироссийских перевозчиков</strong> по Вашему выбору.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и закажите удобную Вам доставку!
</p>