<p>
    PARCELS.SU (Service United) Служба международной Доставки Коммерческих посылок — это сеть <strong>логистических компаний</strong>, объединившихся для облегчения доставки бизнес-отправлений, требующих <a href="{{ locale.uri }}/customs">таможенного оформления</a> в Россию и из России.
</p>
<p>
    Наша цель — содействие отечественным компаниям в построении бизнеса с иностранными партнерами. Однако российское законодательство крайне затрудняет это. Из-за того, что любую минимальную партию товара признают <strong>коммерческим грузом</strong> и требуют оформления по всей форме, оплаты полной суммы платежей, получения сертификатов и разрешений. Это делает нерентабельным малый международный бизнес и повышают издержки для крупных компаний, которым приходится нести повышенные затраты на единицу продукции в таких случаях.
</p>
<p>
    <strong>Международная доставка</strong> мелких грузов имеет свои особенности. Поэтому многие перевозчики, декларируя минимальный размер <a href="{{ locale.uri }}/container">сборного груза</a> от 1 кг, на самом деле избегают работать с мелкими отправлениями. По причине тех же повышенных издержек.
</p>
<p>
    Но мы - это именно международная курьерская служба, специализирующаяся на организации доставки почтовых отправлений. И мы работаем с отправлениями, содержащими всего 1 единицу продукции.
</p>
<h3>Международные перевозки грузов</h3>
<p>
    В Вашем распоряжении широчайший опыт наших специалистов и разнообразные возможности наших иностранных партнеров.
</p>
<p>
    Мы сотрудничаем с крупнейшими <strong>курьерскими службами</strong> мира - компаниями UPS, Federal Express, TNT, DHL и крупнейшими перевозчиками – Schenker, Lufthansa и другими, что позволяет Вам всегда точно знать, где находится Ваше отправление и быть уверенным в его быстрой и надежной доставке. Мы доставляем грузы авиационным, автомобильным и морским транспортом. 
</p>
<p>
    Для каждого клиента, для каждой посылки разрабатывается своя схема работы и доставки – мы используем склады консолидации, адреса перевалки и вспомогательные офисы в Финляндии и Китае.
</p>
<p>
    Мы осуществляем таможенное оформление посылок («растаможку» посылок) в соответствии с требованиями законодательства, но оптимизируя платежи и затраты за счет <strong>консолидации грузов</strong>. После чего доставляем груз Вам.
</p>

<h3>Преимущества работы с нами</h3>
<ul class="ticks">
    <li>
        Вы получаете <strong>снижение Ваших издержек</strong> на всех этапах международной доставки;
    </li>
    <li>
        Для Вас нас <strong>нет ограничений по размеру отправлений</strong> – от 1 штуки до контейнера;
    </li>
    <li>
        Вы получаете множество дополнительных услуг, но только Вы выбираете нужные;
    </li>
    <li>
        Вы получаете свое отправление ни о чем не беспокоясь - мы решаем все вопросы сами;
    </li>
    <li>
        Вы получаете возмещение <strong>100% инвойсной стоимости</strong> в случае форс-мажорных
происшествий;
    </li>
    <li>
        Вы можете быть <strong>физическим</strong> или <strong>юридическим лицом</strong> и выбрать наиболее удобный для Вас способ оплаты.
    </li>
</ul>

<h3>Как доставить международную посылку?</h3>
<p>
    Отправьте нам краткое описание любого Вашего отправления (реального или возможного) прямо сейчас и Вы узнаете сколько может стоить его доставка! Вас это ни к чему не обяжет.<br />
Если Вас устроит наше предложение, мы <strong>бесплатно проконсультируем</strong> Вас об оптимальном маршруте доставки для снижения суммарных издержек.<br />
После этого Вам останется только распорядиться об отправке и ждать свою посылку!
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас!
</p>