<p>
    В случае необходимости, мы можем предложить Вам свою помощь в <strong>оплате поставщику</strong> за товар или <strong>Интернет-магазину</strong>. Для этого Вам нужно будет только получить счет на оплату (инвойс) от Вашего поставщика.
</p>
<p>
    Способ оплаты закупки может быть разным по согласованию с поставщиком. Обычно это – <strong>банковский перевод</strong> (свифт-перевод, TT или telegraph transfer). Оплата на счет Вашего поставщика поступит от одного из наших партнеров. Оплата поступит в местной валюте или в Долларах США.
</p>
<img src="{{ image_path }}/payment.jpg" alt="{{ page.title }}" />
<p>
    Оплата товара в Китае производится от лица нашего Китайского партнера в Юанях. <strong>Оплата за товар</strong> в Европе производится от лица нашего Европейского поставщика в Евро. Это снижает риск мошенничества со стороны поставщиков, т.к. в этом случае им придется отвечать по всей строгости местного законодательства перед местным покупателем.<br />
    Оплата в остальные страны Мира осуществляется в Долларах США.
</p>
<p>
    Условия оплаты Вы можете согласовать с Вашим партнером любые: частичный или полный аванс (предоплата) или пост-оплата.
</p>

<h3><a name="receive-payment">Поможем получить оплату!</a></h3>
<p>
    Экспортерам мы можем предложить помощь в <strong>получении денег за товар</strong> от иностранного покупателя.
</p>
<p>
    Для этого Вам надо только сообщить реквизиты покупателя, на которого будет выставлен счет на оплату (инвойс) от одного из наших партнеров. И согласовать с нами способ перечисления этой оплаты Вам. Счет будет выставлен в согласованной валюте (Доллары США, Евро, Юани).
</p>

<h3><a name="nalojenniy">Услуга наложенного платежа!</a></h3>
<p>
    Несмотря на то, что напрямую услугу <strong>наложенного платежа</strong> при международной доставке предложить пока невозможно, мы можем помочь Вам и Вашим иностранным партнерам из Европы и Китая в достижении взаимного доверия следующим образом:
</p>
<ul>
    <li>
        Оплата иностранному поставщику будет осуществлена после передачи груза перевозчику, но до его дальнейшей отправки;
    </li>
    <li>
        А оплата от иностранного покупателя получается после прибытия груза в Европу или Китай на склад перевозчика, но ДО его передачи покупателю.
    </li>
</ul>

<h3><a name="receiver">Доставка посылок за счет получателя!</a></h3>
<p>
    Нередко возникает вопрос <strong>оплаты доставки образцов</strong>. И тут Вам снова на помощь приходит Служба Доставки Коммерческих Посылок! Ваш поставщик сможет отправить посылку за счет получателя в наш адрес, а мы затем перевыставим счет на доставку Вам.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас и закажите требующийся Вам дополнительный сервис!
</p>