<p>
    Мы предлагаем <strong>все виды международных перевозок</strong> для грузов любого размера – без ограничения по минимальному или максимальному объему!
</p>

<h3>Международные авиа перевозки</h3>
<p>
    Международные <strong>воздушные перевозки</strong> – это оптимальный способ доставки Вашего груза, если для Вас главное – это время. В зависимости от Ваших задач, возможна доставка карго самолетом как через склад консолидации в Финляндии, так и напрямую в Россию. Правда во втором случае стоимость таможенного оформления кратно возрастает. А вот стоимость фрахта практически не отличается.
</p>

<h3>Международные морские перевозки</h3>
<p>
    Доставка морским транспортом делится на доставку сборных (LCL – less than container load) грузов, <a href="{{ locale.uri }}/container#consolidation">консолидированных</a> (объединенных) от разных поставщиков в одном контейнере и на доставку полных (FCL – full container load) контейнеров.
</p>

<h3>Международные автомобильные перевозки грузов</h3>
<img src="{{ image_path }}/transport-types.jpg" alt="{{ page.title }}" />
<p>
    Международная доставка автомобильным транспортом возможна также как для сборных грузов, в том числе и для посылок, так и для грузов на полную фуру (33 паллета – 50 куб.м.).
</p>

<h3>Международные мультимодальные перевозки</h3>
<p>
    Международные смешанные грузоперевозки – перевозки разными видами транспорта. Это самый распространенный способ доставки грузов. Грузы, доставляемые морем, железнодорожным транспортом или самолетом все равно пусть небольшой отрезок пути, но доставляются на машине.
</p>
<p>
    Служба доставки коммерческих посылок доставит Ваш груз любого размера (от 1 штуки!) легко и быстро! <a href="{{ locale.uri }}/contacts">Свяжитесь с нами</a> прямо сейчас!
</p>