<img class="error-500" src="{{ image_path }}/500.jpg" alt="{{ page.title }}" />
<p><strong>We are sorry, a server error has occured. Please try the following:</strong></p>
<ul class="leftfloat">
    <li>Refresh the page</li>
    <li>Try again later</li>
</ul>
<p>
    If you think there is an mistake or a misunderstanding, please contact us at <a href="mailto:support@parcels.su">support@parcels.ru</a>
</p>