<p>
    Business parcel delivery service offers you to consign a delivery of your cargo to professionals, who seek to find the most convenient route at the lowest costs.
</p>
<p>
    We provide fast and efficient delivery service and customs clearance of international business parcels which contain legal goods. These can be small <strong>shipments of samples</strong> or large commercial batches of goods.
</p>
<p>
    We have special offers for delivery of clothes, electronics, shoes, spare parts of machinery, equipment, electronic components and so on.
</p>

<img src="{{ image_path }}/commercial-parcels.jpg" alt="{{ page.title }}" />
<p>
    We specialize in international business parcel delivery and shipment which are recognized by custom authority as commercial goods. <strong>Commercial status</strong> may be assigned to a parcel regardless of its <em>real</em> purpose.
</p>
<p>
    We can easily handle small-batch shippings from international providers, deliveries for local online stores and offline shops. Delivery and customs clearance are fast and efficient thanks to our experise and time-tested routes.
</p>
<p>
    Pass all your tasks to our team, we are experts in logistics!
</p>