<p>
    As a leading worldwide shipping service provider, we deliver business parcels of all types without any limitations. Neither by minimum nor by maximum weight or size. We deliver LCL (Less than Container Load) and <em>consolidated freight</em> by all shipping methods from our warehouses in China and Finland. Our technologies enable us to deliver cargo from 1kg to FCL (<strong>Full Container Load</strong>).
</p>
<img src="{{ image_path }}/container.jpg" alt="{{ 'Доставка коммерческих посылок'|trans }}" />
<p>
    Cargo from Europe is combined at the marine port of Hamburg or at the warehouse in Finland. We do our best to offer the most efficient delivery scheme.
</p>
<p>
    Sea freight forwarding from Asia normally takes around 60 calendar days. Delivery of consolidated cargo from Germany or another European country take around 2 weeks.
</p>
<p>
    <strong>Air cargo delivery</strong> from Asia also take around 2 weeks.
</p>
<h3><a name="consolidation">Freight collection and consolidation services</a></h3>
<p>
    In case you need to transport several small packages, we can collect them at our consolidation warehouse in Shenzhen, China. Then we combine them into a single consolidated freight and forward further to your desired destination.
</p>
<h3>International container (FCL) shipments</h3>
<p>
    With a worldwide network of partners at our disposal, we offer best rates for container delivery from any part of the world.
</p>