<p>
    You can get in touch with us by e-mail: <a href="mailto:{{ email }}">{{ email }}</a>
</p>
<p>
    Or fill in the form and we will evaluate the shipment cost <strong>with the speed of light</strong>:
</p>
{% include 'form_main.html.twig' %}