<p>
    According to Russian laws, any commercial shipment of goods arriving to Russia <strong>must pass customs clearance</strong> regardless of the shipment's true purpose. It may be clothing, electronic components or equipment spare parts. In case of freight consolidation, it is possible to decrease not only overheads (transport and documentation) but also minimize customs taxes.
</p>
<p>
    That is why Business Parcel Delivery Service is your optimal partner when working with Russian clients: international delivery and customs clearance are our specialities!
</p>
<img src="{{ image_path }}/customs.jpg" alt="{{ page.title }}" />
<p>
    With us, the process of customs clearance of a parcel is no different from clearance of a container or any commercial cargo. It doesn't matter if it is a large commercial shipment, a bunch of samples or just a purchase at an online store. Small size used to make the prices per item really high. But not anymore. By consulting the <strong>experts in international trade</strong>, you lower the risks and costs, incleasing the attractiveness of your offer to customers from Russia.
</p>

<p>
    We offer full package of services including delivery and customs clearance on turnkey basis. We take care of all the formalities and technical details. The only thing your client will have to do is receive the parcel.
</p>

<p>
    <strong>Customs clearance</strong> of your parcels will be conducted in compliance with all requirements of Russian laws and the laws of all transit countries. All European export declarations will be  closed and registered if necessary.
</p>

<p>
    We offer customs services in Saint-Petersburg to customers from any part of Russia or the world. We carry out customs clearance of post from China, business parcels from Europe and small cargo from the USA.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">{{ 'Свяжитесь с нами'|trans }}</a> right now and find out the price of our services for your shipment.
</p>