<p>
    We offer quality parcel distribution service across Russia or any country of the world. We can collect, recieve at the warehouse, process, complete documentation formalities and distribute freight to any address.
</p>
<h4>Do you have to:</h4>
<ul>
    <li>
        Split a shipment into several parts and quickly distribute them to the recipients?
    </li>
    <li>
        Change documents, repack the parcel?
    </li>
</ul>
<img src="{{ image_path }}/distribution.jpg" alt="{{ page.title }}" />
<h4>Мы это можем!</h4>
<p>
    Use our international distribution service or parcel distribution service to any Russian city.
</p>
<p>
    Strictly according to your instructions, parcels will be divided and supplied with relevant documents and sent to receipients in Russia or abroad by international courier services (FedEx – Federal Express, DHL, TNT, UPS) or local Russian transport company with prepaid or cash on delivery options.
</p>
<p>
    You only have to <strong>forward your parcel</strong> to our warehouse or handle it to us directly and supply us with detailed instuctions. We will carry out the distribution of cargo and pass you the tracking numbers to follow your goods on their way.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">{{ 'Свяжитесь с нами'|trans }}</a> right now and order all required services!
</p>