<p>
    People's Republic of China is the world's largest manufacturing center. Following the international trends, International Business Parcel Delivery Service is focused on business logistics between Russia and China.
</p>
<p>
    We offer:
</p>
<ul class="ticks">
    <li>
        Commercial <strong>parcels delivery from China</strong> to Russia and back (a delivery of models from China, shipping of models ti China, we will help to return defected goods to Chinese provider);
    </li>
    <li>
        Delivery of purchases from China if the customs clearance is needed in Russia;
    </li>
    <li>
        We can organize the payment to Chinese suppliers. You can read about this service here or <a href="{{ locale.uri }}/contacts">contact us</a>;
    </li>
    <li>
        Delivery of container load cargo from China to Russia. We talk about small cargo starting from one piece, one kilo by plane or by sea in <strong>consolidated container</strong>;
    </li>
    <li>
        Delivery across Chinese territory by local courier services and by car to our warehouse or back;
    </li>
    <li>    
        Customs clearance of goods from China;
    </li>
    <li>    
        Consolidation of cargo at our warehouse for its further delivery by any mean of transport;
    </li>
</ul>
<img src="{{ image_path }}/china.jpg" alt="{{ page.title }}" />

<h3>Consolidated freight from China</h3>
<p>
    We would like to give you more details about this service. If you have <strong>several shipments</strong> which you are sending nearly at the same time to different recipients it would be much more efficient for you to join them together and the mean of transport is not important in this case. The larger the size of your freight, the lower the delivery rate per product you are shipping. You don't have to pay document processing fees and brokerage rewards for each item – they are charged independently of the cargo volume. We consolidate cargo at the warehouse in <strong>Shenzhen city</strong> (province Guangdong) in the south of China or in Hong Kong.
</p>
<p>
    If you need a delivery of industrial or domestic goods, delivery of clothes from China, delivery of shoes from China, independently of the cargo volume (starting from one piece!). <a href="{{ locale.uri }}/contacts">Contact us</a> right now and learn more about our delivery and services that we can offer to you!
<p>