<p>
    When importing freight in Russia, crossing the border and passing customs clearance the process of parcel import is only part of the process. The cargo needs to be delivered across the largest country to the world and we can take it anywhere anytime.
</p>
<p>
    Business parcel delivery service offers you not only to <strong>import goods in Russia</strong>, but to deliver cargo to Russia by all means of transport next to your door or next to the warehouse of your transport company. 
</p>
<img src="{{ image_path }}/import.jpg" alt="{{ page.title }}" />
<p>
    We can deliver your cargo from China and then deliver it to Moscow or ship your good from the USA and deliver it to Saint-Petersburg. We can easily deliver your cargo from Germany to Russia and then, for example, to Yekaterinburg or from Turkey to Russia and further transportation by car or by plane to Novosibirsk and so on.
</p>

<h3>International delivery all over Russia</h3>
<p>
    The most popular but not the exceptional international delivery destinations across Russia are:
</p>
<div class="width-100">
    <ul class="left">
        <li>Moscow</li>
		<li>Saint-Petersburg</li>
		<li>Novosibirsk</li>
		<li>Nizhny Novgorod</li>
		<li>Yekaterinburg </li>
		<li>Samara</li>
		<li>Omsk</li>
		<li>Kazan </li>
		<li>Chelyabinsk</li>
		<li>Rostov-on-Don</li>
		<li>Ufa</li>
		<li>Volgograd</li>
		<li>Perm</li>
		<li>Krasnoyarsk</li>
		<li>Voronezh</li>
		<li>Saratov</li>
		<li>Krasnodar</li>
		<li>Tolyatti</li>
    </ul>
    <ul class="left">
        <li>Izhevsk</li>
		<li>Ulianovsk</li>
		<li>Barnaul</li>
		<li>Yaroslavl</li>
		<li>Irkutsk</li>
		<li>Tyumen</li>
		<li>Makhachkala</li>
		<li>Novokuznetsk</li>
		<li>Orenburg</li>
		<li>Kemerovo</li>
		<li>Ryazan</li>
		<li>Tomsk</li>
		<li>Astrakhan</li>
		<li>Penza</li>
		<li>Lipetsk</li>
		<li>Tula</li>
		<li>Naberezhnye Chelny</li>
    </ul>
</div>
<p>
    We deliver international cargo with the help of our couriers and courier services by different means of transport: by planes, by cars and by trains according with inboard rates and your choice.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">{{ 'Свяжитесь с нами'|trans }}</a> right now and order the most suitable delivery!
</p>