<p>
    PARCELS.SU (Service United) is an international network of associated <strong>logistics companies</strong>. We operate to ease the delivery of business shipments that require <a href="{{ locale.uri }}/customs">customs clearance</a> while importing or exporting from Russia.
<p>
    Our mission is assistance to the international companies in building reliable supply and distribution channels with companies in Russian Federation to promote economic growth and global exchange of goods. Russian legal system somehow complicates this process. Often a minimum lot of goods is identified as a <strong>commercial freight</strong> and full official registration is required, including additional taxes, certification and allowances. This may lead to small international business rendered unprofitable and extremely high expenses for large companies per unit of production.
</p>
<p>
    However we are the international courier service who specializes in such complicated cases of worldwide trade logistics and business package delivery. We work with shipments starting from just <strong>1 item</strong> no matter how small.
</p>
<h3>International freight shipment</h3>
<p>
    We offer you the accumulated experience of our international trade experts and vast capabilities of our partners all over the world.
</p>
<p>
    We cooperate with largest <strong>worldwide courier services</strong> – UPS, Federal Expers (FedEx), TNT, DHL, largest carriers – Schenker, Lufthansa and other logistics companies. This allows us to accurately track your shipments and know precisely the status of the delivery so you can be cofident in its timely and sercure delivery. We deliver parcels by air, auto or sea freight.
</p>
<p>
    <strong>For each client</strong> an individual delivery and processing scheme is developed. We use consolidation warehouses, transhipment terminals and additional offices in Finland and China.
</p>
<p>
    We carry out customs clearance in accordance to local legislations while optimizing the payouts and other expenses due to <strong>freight consolidation</strong>. And then deliver cargo directly to the recipient.
</p>
<p>
    We also offer wide range of additional services including freight import and export arrangement which are described in more detail on their relevant pages.
</p>
<p>
    One of the directions of our business is the facilitation of trade between Russian and foreign companies: formation of optimal logistics supply chains, allowing gradual growth of trade; secure international payments trafers implementation, suitable for both sides; cargo consolidation and divison for serveral receipients.
</p>

<h3>Why choose us?</h3>
<ul class="ticks">
    <li>
        You will see <strong>your costs decrease</strong> at every stage of cargo delivery;
    </li>
    <li>
        You will have <strong>no limits by weight or size</strong> – from one piece to 1 container;
    </li>
    <li>
        You will gain access to additional services. Only you pick which ones to use;
    </li>
    <li>
        You don't worry about your shipment - we take care of all the problems;
    </li>
    <li>
        We guarantee <strong>100% invoice coverage</strong> in case of force majeure;
    </li>
    <li>
        We reiceve payment from sender or receipient and you choose the method that best suits you.
    </li>
</ul>

<h3>How to send/receive a parcel</h3>
<p>
    Send us short description of your shipment (real or possible) and we will quote the price. This is fast and free.<br />
If you are satisfied with our offer, we will advise you for free about the optimal shipping route to minimize your expenses.<br />
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Contact us</a> right now!
</p>