<p>
    We are proud to offer our help in <strong>payment transfer</strong> and payment settlement with Russian suppliers or customers. This can be payment for a purchase in an online shop or an invoice for a batch of goods.
</p>
<p>
    Method of payment for your purchases may vary depending on agreement with your contractor. Normally it's a <strong>bank transfer</strong> (SWIFT-transfer, TT or telegraph transfer) or simply cash. The payment will be credited to your account by one of our partners. We can provide transfer in euro or US dollars. In China the payment is possible in yuan.
</p>
<img src="{{ image_path }}/payment.jpg" alt="{{ page.title }}" />
<p>
    It is possible to coordinate the terms of payment with your partner: partial or full advance payment or after-payment or even cash on delivery.
</p>

<h3><a name="receive-payment">Worldwide money transfer</a></h3>
<p>
    If you would like to purchase a product in Russia we can offer our help in transferring payment for this good in Russia. Your Russian customer will receive his or her money in roubles. You can pay using any method you would like.
</p>

<h3><a name="nalojenniy">Collect on delivery service</a></h3>
<p>
    Although direct international cash on delivery service is not yet possible, we can help you and your Russian partners gain mutual trust in the following way:
</p>
<ul>
    <li>
        The payment from the recipient has to be made after the cargo shipped in Europe or China at carrier warehouse, but before its delivery to the recipient.
    </li>
    <li>
        Some other conditions have to be met, that ensure security fo both suppliers and their customers.
    </li>
</ul>

<h3><a name="receiver">Cash on delivery</a></h3>
<p>
    <strong>Sample shippment</strong> is a frequent issue nowadays. Our parcel delivery service can swiftly solve this problem. You can send a parcel with cash on delivery option and we will bill the receipient for its delivery.
</p>
<p>
    <a href="{{ locale.uri }}/contacts">Contact us</a> right now and order an extra service you need!
</p>