<p>
    We can deliver all types of international freight by all means of international transport. And without any restrictions of the volume!
</p>

<h3>Internation air cargo</h3>
<p>
    International air deliveries are the optimal way of delivery of your cargo, if the most important thing for you is time. It depends on you how to deliver your cargo, we can deliver it by plane via consolidation warehouse in Finland or directly (straight) to Russia.
</p>

<h3>Sea cargo shipping</h3>
<p>
    Sea freight shipping is divided into delivery of less than container load (LCL) cargo, <a href="{{ locale.uri }}/container#consolidation">consolidated</a> by different providers in one container, and into delivery of full container load transport containers.
</p>

<img src="{{ image_path }}/transport-types.jpg" alt="{{ page.title }}" />
<h3>International auto delivery</h3>
<p>
    We offer international auto delivery services from full truck load (33 pallet – 50m³) to consolidated cargo, including or just a single parcel.
</p>

<h3>International multimodal shipment</h3>
<p>
    International multimodal cargo deliveries are deliveries by several means of transportation. This is the most widespread way of cargo deliveries. Cargoes, delivered by sea, by train or by plane, all the same though the short part of the way are delivered by car.
</p>
<p>
    Our delivery service of commercial parcels will deliver your cargo of any size (starting from one piece!) in shortest time and in the best way. 
<a href="{{ locale.uri }}/contacts">Contact us</a> right now!
</p>